# Data structure tuples
It is usually defined by using  a pair of parentheses (), and its elements are separated by commas. For example :

In [12]:
tuple_1 = (1,2,3,4,2)
tuple_1

(1, 2, 3, 4, 2)

In [4]:
print(f"Panjang tuple {len(tuple_1)}")

Panjang tuple 4

In [10]:
print(f"Element dari index 1 ke 3 dari tuple {tuple_1[1:4]}")

Element dari index 1 ke 3 dari tuple (2, 3, 4)

In [13]:
print(f"Hitung tuple angka yang sama dari tuple {tuple_1.count(2)}")

Hitung tuple angka yang sama dari tuple 2

## List vs Tuple
Perbedaan dari list dan tuple adalah tuple **immutable**, artinya element di dalam tuple tidak dapat diubah

In [14]:
list_1 = [21,4,4]
tuple_2 = (21,3,3)

In [15]:
list_1[2] = 2
list_1

[21, 4, 2]

In [16]:
tuple_2[2] = 3

TypeError: 'tuple' object does not support item assignment